<div class="panel panel-default">
  <div class="container">
    <div class="panel-heading">
      <h1>New Shift</h1>
    </div>

      <%= render 'form' %>

    <div class="panel-footer">
      <%= link_to 'Back', shifts_path %>
    </div>
  </div>
</div>
