<div class="container">

  <h1>Volunteer at the Children's Country Fair!</h1>

  <h2>Please sign up to volunteer at one of the following activities:</h2>
  
    <div class="container">
      <table class="table table-striped">
	<thead>
	  <tr>
	    <th>Available activities</th>
	    <th>When would you like to help?</th>
	    <th>Number of volunteers needed</th>
	    <th></th>
	  </tr>
	</thead>

	<tbody>
	</tbody>
      </table>
    </div>
  </div>
</div>
