<div class="container">
  <h1>Children's Country Fair Volunteers</h1>
  <p>
    <h3>Welcome! The PRAIRIE HILL Children's Country Fair is coming soon!</h3>
  </p>

  <div>
    <% if user_signed_in? %>
      <%= link_to "Volunteer", volunteer_path, class: "btn btn-primary btn-large" %>
    <% else %>
      <%= link_to "Volunteer", new_user_session_path, class: "btn btn-primary btn-large" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-large" %>
      <%= link_to "Log In", new_user_session_path, class: "btn btn-primary btn-large" %>
    <% end %>
  </div>
</div>

