<div class="panel panel-default">
  <div class="container">
    <div class="panel-heading">
      <h1>New activity</h1>
    </div>

    <%= render 'form' %>

    <div class="panel-footer">
      <%= link_to 'Activities', activities_path %>
    </div>
  </div>
</div>
